@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/static/assets/img4.jpg") !important;
    height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.table-format{
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: #fff;
    width:max-content;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #ffffff2f;
    overflow:hidden;
    position:relative;
}
.exit{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size:1.3rem;
}
.table-s{
    width: 100%;
    background-color:transparent;
}
.table-format .table1 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
    padding:20px;
}
.table1  th, .table1  td {
    padding: 20px;
    text-align: center !important;
}
.table1  th {
    background-color: #0009 !important;
}
.table1 td {
    background-color: #1010107d !important;
}
.pdf a{
    text-decoration:none;
}
.button{
    background-color:green;
}
.button:hover{
    background-color:#0080007a;
}
.button2{
    background-color:red;
}
.button2:hover{
    background-color:#ff00005c;
}
.table-s{
        overflow-x:scroll !important;
    }
@media (max-width:1210px){
    .table-s{
        overflow-x:scroll !important;
    }
}

/* Add Details */

.container{
    position:relative;
}
.add-details, .quote-details, .man-quote-details{
    color: #fff;
    position:absolute;
    width:max-content;
    border: 1px solid #ffffff2f;
    background-color:transparent;
    backdrop-filter:blur(18px);
    padding:30px;
    border-radius: 10px;
}
.exit2{
    margin-left:80%;
    font-size:1.3rem;
}
.form-input select,.form-input input{
    width: 100%;
    outline:none;
    height:40px;
    color:#fff !important;
    border-radius:5px;
    background-color:transparent;
}
.form-input select option{
    color:#000 !important;
}
.form-input td{
    padding-bottom: 30px;
}
.part{
    padding-left:20px;
}
@media (max-width:560px){
    .add-details, .quote-details, .man-quote-details{
        width:400px !important;
    }
    .add-details td, .quote-details td, .man-quote-details td{
        font-size:0.8rem;
    }
    .form-input tr{
        display:flex;
        flex-direction: column
    }
    .form-input td select{
        margin-left:0px;
    }
    .part{
        padding-left:0px;
    }
}
@media (max-width:410px){
    .add-details, .quote-details, .man-quote-details{
        width:300px !important;
    }
}
/* vendor */

.main5{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/static/assets/img5.jpg") !important;
    height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* client */

.main3{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/static/assets/img1.jpg") !important;
    height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* Management team */

.main1{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/static/assets/img3.jpg") !important;
    height: 100vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}